@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
.container{
    border:4px solid #ffff00;
    margin:auto;
    padding:30px;
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
} 
.resize-img{
    width:100%;
    height:100%;
}
.sidebar{
    width:100%;
    height:100%;
    flex:0 0 200px;
}
.section{
    flex: 1 1 auto;
}
ul{
    padding-left: 0%;
    list-style: none;
}
header{
    background-color: #263248;	
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
header a:hover{
    color: #7E8AA2;
    text-decoration: underline;	
}
#logo{
    padding: 10px;
}
nav ul li{
    display: inline;
}
nav li a{
    text-decoration: none;	
    color: #fff;	
}
nav li a:hover{
    color: #7E8AA2;	
}
nav li:first-child{
    border-left:none;	
}
main{
    display:flex;
    gap: 15px;
}
footer{
    border-top:1px solid #ccc;
    margin:20px 10px 10px 0;
    font-size:0.8em;
    text-align:center;
    font-style:italic;
}